html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#nameinput, #phoneinput {
    margin: 0;
}

#title {
    color: white;
}

#row {
    margin: 0;
}

#map {
    width: 20em;
    height: 20em;
    margin: 0;
}

#name, #phone {
    display: inline;
    padding-left: 3em;
}
